.articlehead {
  display: block;
  padding: 10px;
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.articlebody {

  p code {
    line-height: inherit;
  }

  pre {
    background-color: #f6f6f6;
    margin: 0px;
    line-height: 1em;
    padding: 5px;
    border-radius: 2px;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
  }
}

