.articlehead {
  display: block;
  padding: 10px;
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.articlebody {
  code {
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 0;
    color: purple;
  }
}

